# Ignore node_modules for both frontend and backend
frontend/node_modules/
backened/node_modules/

# Ignore build folders
frontend/build/
backened/build/

# Ignore environment files (from both frontend and backend)
frontend/.env
backened/.env

logs
*.logs